$bodyBackground: rgb(31, 8, 63);
$navBackground: rgb(20, 10, 34);
$navBackgroundLigth: rgb(32, 23, 44);
$darkBackground: rgb(0, 0, 0);
$consoleBackground: rgb(34, 34, 34);
$lightBackground: rgb(186, 186, 186);
$blockBackground: rgb(16, 46, 49);

$greenText: rgb(33, 243, 33);
$linkColor: white;
$activeLinkColor: blue;

$navBorderColor: white;
$blockBorderColor: white;
